<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <i class="fas fa-university me-2"></i>ServiceDou
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/salles" routerLinkActive="active">
              <i class="fas fa-door-open me-1"></i>Salles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/examens" routerLinkActive="active">
              <i class="fas fa-clipboard-list me-1"></i>Examens
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/planning" routerLinkActive="active">
              <i class="fas fa-calendar-alt me-1"></i>Planning
            </a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" routerLink="/holidays" routerLinkActive="active">
              <i class="fas fa-calendar-times me-1"></i>Jours fériés
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>